@keyframes dropdown {
    from {
        height: 0%;
    }
    to {
        height: 100%;
    }
}

@keyframes change-visibility {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.content {
    width: 100%;
    height: 0%;
    background-color: #CBC7BA;
    padding-left: 10%;
    color: #5C6568;
    animation: 1000ms ease 2000ms forwards dropdown;
}

.text {
    opacity: 0;
    animation: 500ms ease 3s forwards change-visibility;
}